[2017-03-07 16:26] plaindocs opened #1 "AttributeError: module 'perceval.backends' has no attribute 'Git'"
Trying to follow the examples from https://jgbarah.gitbooks.io/grimoirelab-training/content/python/elasticsearch.html

and running into errors:

Traceback (most recent call last):
  File "doit.py", line 18, in <module>
    repo = perceval.backends.Git(uri=repo_url, gitpath=repo_dir)
AttributeError: module 'perceval.backends' has no attribute 'Git'

perceval 0.6.0 works fine as a cli

Python 3.6.0

[2017-03-07 17:13] jgbarah commented on #1
Thanks a lot for the bug report. A change in Perceval rendered the example bogus, since now the import line should be different. I just updated perceval_elasticsearch_1.py and the example in the manual.

Please, check now, and let me know if it works for you. Meanwhile, I'm updating the other examples in that chapter.

[2017-03-07 17:26] jgbarah commented on #1
All examples that I found could be affected by the change in Perceval API are now fixed. Please, let me know if you find any example that does not work.

[2017-03-08 04:25] plaindocs opened #2 "Getting started with Kibana"
Hi again,

This one is less of a technical bug than something missing in the flow. I install kibana and elastic search, can load commits into elastic search, but:

Index Patterns: Please specify a default index pattern
![kibana](https://cloud.githubusercontent.com/assets/95874/23690131/d94bfa98-03f1-11e7-8308-bbdd1c7a1047.png)

And I'm not sure how to fix this.

I tried editing the index to `commi

[2017-03-09 00:10] jgbarah commented on #2
I see. I guess this happens when you have no index pattern in Kibana, which is normal in this case, because you're starting to use it. You should:

* Create an index pattern for commits. In that form that you're screenshotting, just use "commits" as the name ("Index name or pattern"), then you will see a menu with the date fields in the index (you can select author_date, for example), and just cre

[2017-03-09 00:11] jgbarah commented on #1
Closing, as it seems to work now...

[2017-03-09 00:11] #1 closed

[2017-06-07 18:20] mbbroberg commented on #2
Hey @plaindocs, FWIW I used `*` in that space and then imported [this dashboard](https://raw.githubusercontent.com/jgbarah/GrimoireLab-training/master/grimoireelk/dashboards/git-dashboard.json) to explore commits. I'm new to ES/Kibana, but found you can add further Index Patterns in the management tab.

<img width="1280" alt="screen shot 2017-06-07 at 11 20 36 am" src="https://user-images.githubus

[2017-09-07 04:45] jsmanrique opened #4 "How to re-enrich indexes once you modify Sorting Hat db"
I think how to re-enrich the enriched indexes once you merge or modify profiles is missing in the Sorting Hat section

[2017-09-07 08:59] jgbarah commented on #4
Yes, you're right. I still need to write about that. But before it, I wanted to make the guide on SortingHat itself a bit more complete...

I'm going to leave this open to not forget about reenriching indexes, anyway.

[2017-09-07 09:01] jgbarah commented on #2
Thanks for your comments. I think we can close this. Please reopen if you feel like that.

[2017-09-07 09:01] #2 closed

[2018-02-05 13:49] sylvestre opened #9 "Please improve the documentation about project.json in the docker page"
As a new user, reading the docker tutorial https://grimoirelab.gitbooks.io/tutorial/before-you-start/deploying-from-dockerhub.html
One of the first thing that I want to do is to configure my project to be analyzed.

This is probably me but I haven't been able to find the file format about the json file. I had to look to a unit test to have a clue.

The doc https://github.com/chaoss/grimoirelab/blo

[2018-02-05 20:32] Illuminatian opened #10 "Docker install stuck in a loop"
Following the tutorial instructions on installing the GrimoireLab docker container is resulting in what seems to be an endless loop. The installation seems to be proceeding fine, Elasticsearch, MaridaDB, and Kibiter all seem to initialize fine, however once it gets to the Mordred portion I get my first error of "Error: db assigned", which is then immediately followed by a string of 401 errors in t

[2018-02-05 22:30] jgbarah commented on #10
Thanks a lot for the report.

The first error (Error: db assigned) is not really an error. I'm working to identify it, but I guess it is just that in some cases, the system tries to create a database which already exists. But that should not be any problem.

The other error is very likely due to exhausting the GitHub API. Did you include your (valid) GitHub API token in the `mordred-override.cfg`

[2018-02-05 23:02] jgbarah commented on #10
Hmmm. I've realized the tutorial was referring to a deprecated set of files for configuring Mordred. The right ones are those in the slides of my presentation at FOSDEM. I'm sorry for this error. I´ ve updated the section on installing with Mordred containers, and should be fine now.

The error was that it mentioned `/mordred-local.cfg` instead of `/mordred-override.cfg`, which is the right file.

[2018-02-06 14:32] Illuminatian commented on #10
I've been following the instructions listed at https://grimoirelab.gitbooks.io/tutorial/before-you-start/deploying-from-dockerhub.html , and they don't seem to be updated yet. I ran the new command you listed above, however now i'm running into a new error
``C:\Program Files\Docker Toolbox\docker.exe: Error response from daemon: OCI runtime create failed: container_linux.go:296: starting container

[2018-02-07 00:25] jgbarah commented on #10
Again, you're right. I did fix [Running Mordred from a container](https://grimoirelab.gitbooks.io/tutorial/mordred/mordred-in-a-container.html) but not the reference that you mention, which is indeed the most visible, since it is at the beginning of the book. I just fixed it, should be correct by now.

WRT your error, it seems you're not having the `credentials.cfg` file in the current directory (

[2018-02-07 01:53] Illuminatian commented on #10
I'm currently running Windows 10 Home edition, Version 1709, Build 16299.125

I made sure I had the credentials.cfg in the right place, it got nested under another folder, so I moved it back to the pwd, however that still wasn't working. I ended up deleting the VM created for the container and doing a full redownload/run of the docker image. Currently it's at the blacklist/unique identities portio

[2018-02-07 02:05] Illuminatian commented on #10
Ok, I think it may be stuck in a loop again, about 3 minutes after I posted my last comment, i received this error
[code]

Now i've left it running for about 10 min and it just keeps repeating the "Loading blacklist, loading unique identities" lines over and over....

[2018-02-07 08:57] jgbarah commented on #10
Hi again! It seems you're finding all the problems :-(

Look, it seems this is a kind of a bug in the SSL library git is using. It seems it can happen for several reasons, one of them is being behind a firewall or proxy. Is that your case? The more information you can provide about how you connect to the Internet the better, to try to reproduce your issue.

More documentation about the problem: [T

[2018-02-07 19:51] Illuminatian commented on #10
Finding problems is a good thing, it means things will be ironed out of people in the future! It may have been a windows firewall issue, I just got this laptop and haven't quite finished tweaking it yet. I'll make sure it's disabled before the next run through. I really appreciate that you're making me my own special container, I'm more than happy to help be your Windows guinea pig!

[2018-02-07 22:00] jgbarah commented on #10
Yes, indeed!

I take your word ;-)

Please, test the new container `grimoirelab/full:testing`. Use it exactly the same way that you used `grimoirelab/full`, just changing its name by this new one. The main difference is that I set up the `http.postBuffer` to 1 GB, although I'm not sure that was the problem.

I suggest you try to find out if this one works as intended, and if you succeed, then do t

[2018-02-08 04:22] Illuminatian commented on #10
Well, tried the new container.  No proxy or firewall issues for sure this time. Didn't receive the error, however I've been watching it load blacklist entries, unique identities, and create Elasticsearch Aliases for about a half hour now. It seems to be caught in a quasi-random repeat, with a different number of each action block happening on each go around. How many times on a typical install sho

[2018-02-08 07:51] jgbarah commented on #10
It is in incremental mode (that is, do stuff once and again, checking for fresh data from original data sources). The period for the refresh is short, so that the demo works better (for a real deployment this is a parameter you can configure).

In other words, if there was no error in the output, it is very likely that it worked, and you have your dashboard ready and updating. Did you check at htt

[2018-02-08 14:38] Illuminatian commented on #10
I did check http://127.0.0.1:5601, however all i got was the chrome generic "Site can't be reached" error.

[2018-02-08 16:30] jgbarah commented on #10
Weird. If you launched the container with the -p option, usually either you get an error when launching, or the container runs and something is the attached to the 5601 port... How did you exactly launched the container?

[2018-02-09 00:11] jgbarah commented on #9
I've included a new section in the tutorial: [The projects file](https://grimoirelab.gitbooks.io/tutorial/mordred/the-projects-file.html). Do you think that could be good enough?

[2018-02-12 15:42] GeorgLink opened #11 "Define 'Path to Maintainership' and 'List Maintainers'"
Per proposal in chaoss/governance#5 :

TODO:
- Specify 'path to maintainership' for this repo in CONTRIBUTING.md file
- List current maintainers in README.md file

[2018-02-12 19:41] Illuminatian commented on #10
Sorry it's taken so long to respond, it's been a busy week. I ran docker exactly as prescribed, this time doing another fresh start, and still getting the same error when trying to get to 127.0.0.1:5601.

Is it possible that the config file for mordred needs more information in it? I don't know, I'm drawing a blank

[2018-02-14 20:48] Illuminatian commented on #10
Ok, so i think I've narrowed the problem down. When i try to access 127.0.0.1:5601 on my host machine, it's just looking at the localhost, when I need it to be looking at 127.0.0.1:5601 on the VM that the docker container is running on. I've been trying to play around with VirtualBox NAT and port forwarding from the guest OS to my host OS, but nothing seems to be working., any suggestions?

[2018-02-14 21:09] Illuminatian commented on #10
OK, so I'm one step closer! I updated my VirtualBox network adapter to be a bridged adapter, and updated the docker command to bind to the local ip of the VM (192.168.99.101:5601). then, putting that address/port in my host web browser I was able to access the GL dashboard!

Only downside now is i'm pulling no data back from anywhere....so theres that.

[2018-02-14 21:49] Illuminatian commented on #10
Holy crap, sorry for the spam Jesus, but I finally got it! I'm going to issue a pull request on the documentation to add the extra configurations that are needed to be done on VirtualBox to enable you to reach the environment from your host internet browser.

[2018-02-15 21:53] jgbarah commented on #10
Thank you *very* much!!!! Supporting Windows and VirtualBox is really difficult for us, since we're basically a Linux shop. So, this is really appreciated. Looking forward for your patch to the docs. If you don't have time to write a proper patch, just describe it here and I will try to include the text in the documentation.

[2018-02-19 19:44] Illuminatian commented on #10
@jgbarah

I issued a pull request last week with my additions to the documentation needed to get everything up and running on Windows with Docker Toolbox. As it's my very first pull request/documentation update I've ever done, the formatting on it probably isn't exactly what you're looking for. Please do whatever you need to do to alter it up and make it fit better into your established documentat

[2018-02-19 21:51] jgbarah commented on #10
Where did you upload the pull request? I'm sorry, but I cannot find it... :-(

[2018-02-19 22:09] Illuminatian commented on #10
Sorry, a little new to GitHub, it should be out there now.

[2018-02-27 15:50] b-hodges opened #13 "Remove install of pip, wheel, setuptools"
virtualenv installs these tools by default when creating a new virtual environment, so installing them separately is unnecessary.

[2018-02-27 15:53] b-hodges opened #14 "installing-grimoirelab change pip3 to pip"
Virtual environments default to using the version of pip associated with the version of python used to create the environment. This makes the `3` suffix unnecessary.

[2018-03-05 13:14] tezansahu opened #17 "Help required for Microtask 3 under "Reporting of CHAOSS Metrics""
Hi,

I have started learning about the GrimoireLab and its functionalities. I am also trying to do a few Microtasks under Reporting of CHAOSS Metrics wherein I need your help.

In Microtask 3, I am able to generate a data table containing pull requests and issues of different Grimoirelab repos for the last 3 months and also another data table having commits according to different repos. But since

[2018-03-06 12:27] aswanipranjal commented on #17
Hey @tezansahu, this thread may be able to help you: [https://discuss.elastic.co/t/use-multiple-index-in-a-chart/44653](https://discuss.elastic.co/t/use-multiple-index-in-a-chart/44653). If you only have 2 indices with names `git` and `github_issues`, then you can use the wildcard index `git*` to get them both at the same time.

[2018-03-06 14:37] tezansahu commented on #17
Thank you. Will try doing so.

[2018-03-06 16:22] karansingh1559 opened #18 "Error on running the mordred command"
When I run
`mordred -c mordred-grimoirelab.cfg
`, I get the error:

  File "/usr/local/bin/mordred", line 145, in <module>
    logger = setup_logs(logs_dir, debug_mode, log_file_handler, log_max_bytes, log_backup_count)
  File "/usr/local/bin/mordred", line 70, in setup_logs
    fh = log_file_handler(fh_filepath, **log_file_handler_kwargs)
  File "/usr/lib/python3.5/logging/__init__.py", line 1008

[2018-03-07 06:36] karansingh1559 commented on #18
@jgbarah I've not been able to proceed any further. Could you please help me on this ? :D

[2018-03-07 15:21] karansingh1559 commented on #17
@aswanipranjal can you please help with me issue #18 :smile: ?

[2018-03-07 15:46] aswanipranjal commented on #18
@karansingh1559, I think you'll have to create a `tmp/logs` directory in your root folder. The logging module saves the logging data in a file in that tmp/logs directory known as `all.log`. Can you please try to create the required directory?

[2018-03-07 18:53] karansingh1559 commented on #18
Okay that worked. But it now says that 'access denied for "jgb @localhost". Looking at the config file, in the sorting hat section, I guess I need to change these parameters. Is that the case?

[2018-03-08 14:56] aswanipranjal opened #19 "Questions about the idea: Reporting of CHAOSS Mertics"
I had some questions about the project Reporting of CHAOSS metrics:

1) To extend the functionality of Manuscripts, we will need to add code to calculate the Metrics listed down at https://github.com/chaoss/metrics, right?
If so, how do you suggest that the user demographics be collected and monitored?

2) In the 3rd Microtask for the project, it is said that: **Produce a listing of repositories,

[2018-03-08 17:49] jgbarah commented on #19
Thanks for your question. I'm answering it in chaoss/grimoirelab#70, together with all the comments on this GSoC idea.

[2018-03-08 17:49] #19 closed

[2018-03-08 17:59] jgbarah commented on #18
Thanks a lot, @aswanipranjal, for your help, and @karansingh1559, for your report. Yes, that is an example, you should change it to your own credentials. Let us know if it doesn't work when you try that way.

I've added some more text to the description in the tutorial, trying to clarify this part. I'm closing this for now, but please feel free to reopen if you think the text in the tutorial is no

[2018-03-08 17:59] #18 closed

[2018-03-23 22:09] Illuminatian commented on #10
@jgbarah

Hi! I seem to be getting a new error when using the GrimoireLab/full container. Seems like I'm getting a 401 rate_limit error once again. Any suggestions?

[code]

[2018-04-05 02:11] Illuminatian commented on #10
Messed with some configurations and determined that somehow my .cfg file got messed up. Issue is resolved.

[2018-04-05 02:11] #10 closed

[2018-04-28 03:47] jsmanrique opened #28 "Navigation drop-down doesn't work in mobile"
It might be a theme issue, but the navigation drop-down menu doesn't work in the mobile web. Tested in 2 Android phones, with Chrome and Firefox.

[2018-04-28 03:50] jsmanrique opened #29 "'Edit me' button doesn't link to the right address"
It seems it misses one `/` in the template.

For example, home page `Edit me` links to:
`https://github.com/chaoss/grimoirelab-tutorial/blob/masterREADME.md` (that gives a 404 error)
Instead of:
`https://github.com/chaoss/grimoirelab-tutorial/blob/master/README.md`

[2018-06-04 21:13] jgbarah commented on #29
It seems this only happens for the main page (README.md). For others, it seems it is working... I have to figure out why it is failing there. Thanks for the heads-up!

[2018-06-04 21:14] #17 closed

[2018-06-04 21:23] jgbarah commented on #28
You're right, doesn't work in the tests I have done either :-(

No clue why this is happening, for now. Any hint is appreciated.

[2018-06-04 21:27] jgbarah commented on #28
By testing in desktop, I learned that I can reproduce it if I shrink the width of the screen until the menu moves to the top of the page.

[2018-06-05 05:00] #29 closed

[2018-06-27 15:20] filmaj opened #36 "Add a section about MySQL to Supporting Systems"
I am trying to run the sirmordred tests. First I needed to get an ElasticSearch instance up locally. Now it looks like I need a MySQL DB as well. There is no mention of MySQL under the Supporting Systems section of the tutorial. Should that be added? If so, any suggestions on how to (quickly) do so, maybe via docker? Do the maintainers of the project have any shortcuts for this?

Related question

[2018-06-27 16:22] filmaj commented on #36
For the record I was able to fairly easily do this via:

[code]

(setting the password to empty as I _think_ that is what the mordred tests expect but I could be wrong)

[2018-08-23 18:43] alexcourouble opened #40 "Link to Eclipse Development Dashboard leads to sign in page"
The [Eclipse Development Dashboard](https://eclipse.biterg.io/app/kibana#/dashboard/Overview) link, which is at the end of the README requires the user to sign in in order to access the dashboard.

Do I need to create a specific account somewhere to access the example? Or am I missing something?

[2018-08-24 11:36] sanacl commented on #40
Hi @alexcourouble , due to some issues the Eclipse dashboard anonymous access was disabled. Recently the folks from the Eclipse foundation gave us green light to make it public again, so this will be changed during the next couple of days.

[2018-08-24 17:32] alexcourouble commented on #40
Thanks! I'll check back again in a couple days then.

[2018-08-24 17:32] #40 closed

[2018-09-24 12:27] jgbarah commented on #28
I think this is fixed now. Could we close this issue?

[2018-10-04 08:58] jgbarah commented on #28
@jsmanrique ??

[2018-10-04 09:01] jgbarah commented on #13
Closing, for the reasons explained in #15

[2018-10-04 09:01] #13 closed

[2018-10-04 09:02] jgbarah commented on #14
Closed, for reasons explained in #21

[2018-10-04 09:02] #14 closed

[2018-10-04 09:06] jsmanrique commented on #28
Yes, it's working for me.

[2018-10-04 12:06] #28 closed

[2018-10-18 16:27] jgbarah opened #45 "Installation: add non-Python packages needed"
Following chaoss/grimoirelab#156, we should update the installation information with the list of non-Python packages that maybe need to be installed for the pip-based installation to work.

[2018-10-26 08:12] jgbarah commented on #36
@filmaj sorry for being so late with this. Please have a look at the pull request adding this to the tutorial, #48. If you happen to remember exactly which SQL commands are needed for creating that secondary root account, please add them in a comment and I will add them to the pull request. I also don't know how you connect to the container, if you cannot connect from other than localhost: by conn

[2018-10-26 15:54] filmaj commented on #36
Just for further posterity in case someone stumbles upon this issue, I tried another attempt at this and after some playing around, I suggest using the `mysql` docker image instead of the `mysqlserver` one, i.e.:

```docker run -d -p 3306:3306 -e MYSQL_ALLOW_EMPTY_PASSWORD=yes mysql```

[2018-12-24 12:13] abitrolly opened #54 "Dead link to archtecture"
Tutorial page https://chaoss.github.io/grimoirelab-tutorial/#quick-overview links to missing page https://chaoss.github.io/grimoirelab/intro.md

![image](https://user-images.githubusercontent.com/8781107/50399154-70c1a480-078e-11e9-8f1a-1bc2036b61c8.png)

[2019-01-07 21:58] jgbarah commented on #54
Fixed by #55.

[2019-01-07 21:58] #54 closed

[2019-01-10 17:20] Polaris000 opened #57 "favicon not appearing on grimoire-lab tutorial website"
I was going through the grimoirelab tutorial when I noticed that though the website [main grimoirelab website](https://chaoss.github.io/grimoirelab/) had a favicon, the [tutorial website](https://chaoss.github.io/grimoirelab-tutorial/) did not. May I fix it?

[2019-02-13 17:07] Polaris000 commented on #11
Is there a reason this hasn't been looked into?

[2019-02-13 17:10] Polaris000 commented on #11
Suggest closing this issue if the matter has internally been resolved.

[2019-02-13 17:53] GeorgLink commented on #11
Hi @Polaris000,

I appreciate that you review old issues and try to clean up.
This request is to improve the value of README's across CHAOSS projects. I don't see it done yet in this repository, which is why I would like the issue to remain open.

[2019-02-14 05:51] Polaris000 commented on #11
Thanks for the reply! Yes, I had noticed that the requested changes had not been made. In fact, only a few repos have closed this issue. Since its been over a year, I thought that it had been decided to scrap the idea in a weekly meet and someone forgot to close the issue. That's all.

[2019-02-14 13:23] GeorgLink commented on #11
That's understandable. Thanks!

[2019-03-10 13:54] dhruv-chauhan opened #65 "Error while trying "Creating a simple Dashboard""
Hey!
I am a GSoC aspirant and was trying out the tutorial.

I used Docker to set the env up as mentioned here: https://chaoss.github.io/grimoirelab-tutorial/basics/quick.html#docker

I was able to do so but while trying to create indexes in ES (https://chaoss.github.io/grimoirelab-tutorial/gelk/simple.html#creating-the-indexes-in-elasticsearch), I ran into the following error, I noticed that the `

[2019-03-10 13:56] dhruv-chauhan commented on #65
@alpgarcia @mafesan, can you please take a look at this?
Looking forward to working with you this.

Thanks! :)

[2019-03-10 14:26] valeriocos commented on #65
Hi @dhruv-chauhan , a similar issue was reported by @InosRahul (https://github.com/chaoss/grimoirelab-elk/issues/574). A PR has been just submitted to fix this error (https://github.com/chaoss/grimoirelab-elk/pull/576)

[2019-03-20 00:47] satyaakam opened #73 "Error creating indexes in Docker image"
i was following steps from https://chaoss.github.io/grimoirelab-tutorial/gelk/simple.html in order to create indexes , i do see the index being created but its broken and lacks metadata , i see the script ending with this error https://hastebin.com/odeguyipuf.sql

[2019-03-20 07:26] valeriocos commented on #73
Thank you for reporting this issue @satyaakam
It seems that the version of ELK you are using it's old. Please have a look at:
https://github.com/chaoss/grimoirelab-elk/issues/574
https://github.com/chaoss/grimoirelab-manuscripts/issues/125

[2019-03-20 15:12] satyaakam commented on #73
This worked thanks

[2019-03-20 15:12] #73 closed

[2019-03-25 03:09] inishchith opened #75 "[graal] Add Graal to GrimoireLab Tutorial"
Current version of tutorials for set of tools provided by GrimoireLab doesn't contain tutorial for usage of [`Graal`](https://github.com/chaoss/grimoirelab-graal/). I'll be interested in adding tutorial on Graal usage to this repository.

@valeriocos @jgbarah Please do let me know what you think or if this is already being worked on.
Thanks :)

[2019-03-25 08:27] valeriocos commented on #75
That's a good idea @inishchith . Although graal is still not integrated in the tool chain, we could start having some info in the tutorial. What do you think @jgbarah ?

[2019-03-25 08:52] jgbarah commented on #75
Let's go for it! PR is welcome.

[2019-03-25 08:55] inishchith commented on #75
Thanks @jgbarah @valeriocos . I'll start working on it :)

[2019-03-28 17:10] GeorgLink opened #79 "Require DCO sign-off for new commits"
This issue is to activate [protobot/dco](https://github.com/apps/dco) (or similar bot) to check that all commits have a sign-off in this repository.

The [CHAOSS Project Charter section 8.2.1](https://chaoss.community/about/charter/#user-content-8-intellectual-property-policy) requires that all contributions are signed-off. The CHAOSS project has been piloting the use of DCO sign-offs. Once contri

[2019-03-29 09:16] Polaris000 commented on #57
Since the pull request concerning this issue has been merged, I'm closing this issue.

[2019-03-29 09:16] #57 closed

[2019-03-29 14:53] inishchith commented on #75
Some of the tasks i feel which can be included over time:
- [ ] Include a tutorial for `CoLic` Backend ( As it requires executables of external libraries such as NOMOS & ScanCode )
- [ ] Add Graal's description to `README.md` ( once it's added to the GrimoireLab toolchain )

@valeriocos @jgbarah  I think this Issue should remain open for newcomers. Please do let me know what you think :)

[2019-03-29 15:01] valeriocos commented on #75
Thank you @inishchith , I guess it's a good idea. What do you think @jgbarah ?

[2019-04-01 09:49] jgbarah commented on #75
Yes, good idea!

[2019-04-02 09:33] valeriocos commented on #79
done @GeorgLink

[2019-04-02 09:33] #79 closed

[2019-04-02 13:25] GeorgLink commented on #79
Thanks @valeriocos

[2019-05-21 15:53] Polaris000 commented on #9
Hey @sylvestre, thanks for raising this query!
 I know its been a long time but does this change help?
Let us know so one of the maintainers can close this issue.
Thanks!

[2019-05-21 16:13] Polaris000 opened #81 "[internals] Add a page regarding the use of httpretty in Perceval testing"
The idea was given by @valeriocos [here](https://github.com/chaoss/grimoirelab-perceval/pull/519#issuecomment-487400714). Both @harshalmittal4 and I found the process of writing tests for Perceval --- especially in the github backend --- quite difficult.
This is an attempt at clearing things up and making it easier in the future.

@valeriocos  recently proposed the following structure for the page

[2019-05-21 17:56] jgbarah commented on #81
Please, go ahead!

[2019-05-22 16:17] sylvestre commented on #9
yeah, we can probably close it, thanks :)

[2019-05-22 16:17] #9 closed

[2019-05-22 16:18] Polaris000 commented on #9
Great, thanks for the prompt response!

[2019-05-24 05:41] Polaris000 opened #83 "[refactor] Location of image files and internals bug fix"
While fixing issue #57, I had n't noticed that images were present in the [assets](https://github.com/chaoss/grimoirelab-tutorial/tree/master/assets) folder. Thus, I created an [images](https://github.com/chaoss/grimoirelab-tutorial/tree/master/images) folder just to store the favicons for the site. I think it would be a great idea to move everything to one place: either to the assets folder or to

[2019-05-25 19:06] inishchith opened #84 "[components] How to play with Grimoirelab components"
As addressed in [`last meeting`](https://github.com/inishchith/gsoc-graal/blob/master/meetings/23-05-19-community-bonding.txt), I will be understanding how grimoirelab components work and propose tutorials.
This thread works as a medium for doubts/discussion regarding the same.

@valeriocos @jgbarah Please do let me know in case I missed something out.
Thanks

[2019-05-30 18:09] inishchith commented on #84
---------------
**`Steps`:**

1. I used the [config](https://github.com/chaoss/grimoirelab-sirmordred#source-code-and-docker) along with the mariadb service as I do not have a local setup for db.
2. executed:`docker-compose -f docker-compose.yml up`
3. executed micro in another terminal instance:`python3 micro.py --raw --enrich --cfg ./setup.cfg --backends git`
4. tried : `localhost:5601` for kiba

[2019-05-31 07:41] valeriocos commented on #84
Great, please open a PR. Don't forget to include a link to the setup.cfg and projects.json you used.

[2019-05-31 07:43] inishchith commented on #84
@valeriocos  I've linked them and added particular notes that I faced during the process.
Please do let me know after you've had a look.

Thanks :)

[2019-06-12 09:49] #84 closed

[2019-06-12 11:07] #81 closed

[2019-06-13 04:43] Polaris000 commented on #83
Please have a look @jgbarah, whenever covenient!

[2019-06-25 12:53] GeorgLink opened #91 "Add instructions to landing page on how to get GrimoireLab running with Docker-Compose"
@sanacl created a [docker-compose solution](https://gitlab.com/Bitergia/lab/analytics-demo) for quickly getting GrimoireLab up and running with a dashboard. The solution offers a good overview of the components that need to be running (e.g., Elasticsearch, MariaDB, and several GrimoireLab components). The solution also has a transparent way to configure the data sources and API tokens.

I think th

[2019-06-25 14:40] sanacl commented on #91
@GeorgLink maybe it is a good idea to agree a TOC to update the https://chaoss.github.io/grimoirelab-tutorial/. Example, I've found the section to install Grimoirelab, but it is not very visible at it is quite verbose https://chaoss.github.io/grimoirelab-tutorial/basics/install.html

I would create a section named "Installation" and if we wanna keep all the possibilities I would split them in diff

[2019-06-25 15:00] GeorgLink commented on #91
Yes, agreeing on a TOC would be good. I was looking for good examples that we can model our tutorial after.

How about a similar structure to [Elasticsearch tutorial](https://www.elastic.co/guide/en/elasticsearch/reference/current/getting-started.html):

* Getting Started
  * Basic Concepts
  * Installation <-- this is where docker-compose goes into; end with showing that the dashboard loads (requ

[2019-07-01 10:24] sanacl commented on #91
@GeorgLink I like your proposal :+1:

Given the fact we are not collection more feedback, what is the next step? Should I start working on the PR?

[2019-07-01 17:49] GeorgLink commented on #91
I think a PR would a good place to continue the work.

@jgbarah did you have thoughts on revising the tutorial as proposed above?

[2019-07-08 21:49] sanacl commented on #91
@jgbarah ?

[2019-07-09 11:42] jgbarah commented on #91
Yes, but I need some spare cycles to process it... :-( I'll try to so asap. Sorry for being late with this.

[2019-08-16 16:01] sanacl opened #93 "Proposal for a new TOC for the tutorial"
In the ticket https://github.com/chaoss/grimoirelab-tutorial/issues/91 @GeorgLink and I found an agreement about a TOC proposal for the tutorial. @jsmanrique just reminded me there are more proposals that should become publicly available, so we can discuss them with the community.

The aim of this ticket is to find an agreement about the new TOC for the tutorial. If the TOC is very different from

[2019-08-16 16:04] sanacl commented on #93
This is the proposal A.

* Getting Started
  * Basic Concepts
  * Installation (installation using the docker containers)
  * Setting up your projects (with info about how to modify the setup.cfg and projects.json files)
    * GitHub
    * GitLab
    * ... one sub-page for each data source
  * Managing identities (explaining Sortinghat and Hatstall)
    * Hatstall
    * Sortinghat
  * Dashboards (

[2019-08-16 16:07] sanacl commented on #91
This ticket is **blocked** by https://github.com/chaoss/grimoirelab-tutorial/issues/93

[2019-08-16 16:28] GeorgLink commented on #93
Is the idea to develop different TOC's in different branches?

[2019-08-16 16:44] sanacl commented on #93
No, this is just an idea in case we want to see the evolution of the new document with new TOC. We can work with master and PRs and when we find the content good enough to be published, we can make it publicly available at https://chaoss.github.io/grimoirelab-tutorial/

[2019-08-16 17:54] jsmanrique commented on #93
The proposal I had on mind is focus on:
- Start easy and fast to play with the platform
- Understand how the user can interact with each component

This is the TOC proposal:
* Quick start
  1. Download
  2. Define analysis scope:
    * Intro to `projects.json`
    * Intro to `setup.cfg`
  3. Deploy and run GrimoireLab
* GrimoireLab Architecture and Data Workflow
* Data Sources Management
  * The `

[2019-08-19 09:55] sanacl commented on #93
I think your proposal may work @jsmanrique :+1:

Any more feedback?

[2019-08-19 13:59] valeriocos opened #94 "Update doc to monitor github repositories"
As reported here by @rootsongjc at: https://github.com/chaoss/grimoirelab/issues/202#issuecomment-522583738, it could be useful to update the tutorial about how to monitor GitHub repositories correctly.

[2019-08-19 16:19] GeorgLink commented on #93
Yes, @jsmanrique's proposal works just as well.

[2019-08-19 17:55] sanacl commented on #93
Ok, this is the feedback we have for "proposal B":
* @jsmanrique :+1:
* @GeorgLink :+1:
* @sanacl :+1:

Let's wait for a day or two to get more feedback. By Wednesday 09AM CDT we'll close the ticket if no more feedback is provided. If you think we should wait more please let me know.

"proposal B": https://github.com/chaoss/grimoirelab-tutorial/issues/93#issuecomment-522096592

[2019-08-19 18:10] GeorgLink commented on #93
I posted to the CHAOSS mailing list about this issue. I think we can start working on this but we should give folks time to respond until after OSSNA. How about a week until August 26?

[2019-08-19 18:11] sanacl commented on #94
Related to https://github.com/chaoss/grimoirelab-tutorial/issues/93

[2019-08-19 19:17] valeriocos commented on #93
+1

[2019-08-26 08:19] valeriocos opened #95 "Update doc to handle git private repos"
As reported https://github.com/chaoss/grimoirelab/issues/205, the procedure to analyze private git repository is not described in the tutorial. Probably the doc could be improved to add a short description about these cases. In particular the private git repos should be declared in the projects.json with the following shape:
[code]

[2019-08-26 13:46] RCheesley opened #97 "Missing dependency: Cloc"
I'm not sure where to add this in the docs hence raising as an issue for discussion, but in following the tutorials when I got as far as using Graal it became apparent in a rather unspecific error message that I needed to install Cloc - hadn't seen this anywhere as a 'might also need to install' and only came across it when googling for the error message.

My sense would be it needs to feature in

[2019-08-26 14:17] valeriocos commented on #97
Thank you for reporting this issue @RCheesley . You're right the information is available in the Graal repository (https://github.com/chaoss/grimoirelab-graal#how-to-installcreate-the-executables), but not in the tutorial.

Maybe the external tools used by Graal could be listed at: https://chaoss.github.io/grimoirelab-tutorial/graal/intro.html. Furthermore, the basics section should be also update

[2019-08-26 19:12] valeriocos commented on #93
Good news, I can start working on it

[2019-08-28 18:56] inishchith opened #101 "[graal] Add tutorial on Graal dashbaord creation"
- The idea is to add a tutorial on how to create the Graal Dashboard via micro-mordred and finally linking it to the [demo-video](https://www.youtube.com/watch?v=RXZeuJt0UXM)

- Question is: At what level of this repository would it be appropriate to add those?

P.S: I think we can close this issue #75 .

/cc @jgbarah @valeriocos

[2019-08-28 19:25] #75 closed

[2019-08-28 19:28] valeriocos commented on #101
Thank you @inishchith for the PR.
Maybe we could include it in the graal section, after `Retrieving Code Complexity via CoCom Backend`, wdyt @jgbarah @inishchith ?

[2019-08-28 19:36] inishchith commented on #101
@valeriocos you mean to say under [this](https://github.com/chaoss/grimoirelab-tutorial/blob/master/graal/cocom.md) file? I was thinking to add a different file for dashboard creation 🤔

[2019-08-28 19:43] valeriocos commented on #101
Sorry if I wasn't precise enough. I meant to add a new file but in the [graal](https://github.com/chaoss/grimoirelab-tutorial/tree/master/graal) folder. The new entry should appear after the [cocom](https://github.com/chaoss/grimoirelab-tutorial/blob/master/graal/cocom.md) part. Does it make sense to you?

[2019-08-28 20:40] valeriocos commented on #101
IMHO, this tutorial and the new one have different paths that at some point may get merged together.
We can keep adding content to the current tutorial, then once the new tutorial starts getting a shape we can adapt/integrate the content of the old tutorial to the new one.

The TOC proposed at https://github.com/chaoss/grimoirelab-tutorial/issues/93#issuecomment-522096592 is promising, but it isn'

[2019-08-29 16:06] inishchith commented on #101
@valeriocos Sorry for the delayed response.

Yes. Thanks for the clarification :)

[2019-08-30 10:05] valeriocos commented on #97
Fixed with https://github.com/chaoss/grimoirelab-tutorial/pull/103

Please @RCheesley check if the fix is OK for you, and feel free to reopen the issue. Thanks!

[2019-08-30 10:05] #97 closed

[2019-08-30 11:35] RCheesley commented on #97
Looks good to me!

On Fri, 30 Aug 2019 at 11:05, valerio <notifications@github.com> wrote:

[2019-09-02 09:03] #65 closed

[2019-09-04 06:32] valeriocos commented on #93
A branch to work on the new tutorial is available at: https://github.com/chaoss/grimoirelab-tutorial/tree/agamotto

The TOC proposed above has been already set (https://github.com/chaoss/grimoirelab-tutorial/blob/agamotto/_data/sidebars/home_sidebar.yml)

I would close this issue and open other issues/PRs to advance on this task. WDYT?

[2019-09-04 15:06] GeorgLink commented on #93
Thank you for getting the work started @valeriocos

Can we close the issue after merging the changes back to `master`? Because the work is not "done" from a user perspective before that time.

[2019-09-04 15:57] valeriocos commented on #93
The aim of this issue was to define a proposal for a new TOC, so it could be closed since achieved its goal. However I agree with you that we need an issue to be closed `after merging the changes back to master`.

If you prefer to keep this issue open, we could update the description and title. Otherwise, we can open a new one to set up the next steps.

WDYT?

[2019-09-04 16:04] GeorgLink commented on #93
Okay, I see your point about the purpose of the issue not being the implementation of the new TOC. Yes, I'm okay to close this issue and opening a new issue specific to updating the tutorial with the new TOC.

[2019-09-04 16:09] valeriocos commented on #93
Great, feel free to close this issue and open a new one, thanks! :)

[2019-09-06 17:54] #93 closed

[2019-09-06 17:57] GeorgLink opened #104 "Update tutorial with new TOC"
In #93, we decided on a new table of content for the tutorial.

This is the TOC proposal:
* Quick start
  1. Download
  2. Define analysis scope:
    * Intro to `projects.json`
    * Intro to `setup.cfg`
  3. Deploy and run GrimoireLab
* GrimoireLab Architecture and Data Workflow
* Data Sources Management
  * The `projects.json` file: projects, data sources & repositories
  * Adding and removing p

[2019-09-06 17:57] GeorgLink commented on #93
done

[2019-09-08 13:18] GeorgLink commented on #104
Reminder: the goal is to build the tutorial around the Docker-Compose solution that is tested over at https://gitlab.com/Bitergia/lab/analytics-demo

Here is the issue that kicked off the discussion for a new TOC to be able to integrate with the new docker-compose solution https://github.com/chaoss/grimoirelab-tutorial/issues/91

[2019-09-08 13:20] GeorgLink commented on #91
In #93, we decided on a new TOC.
#104 is for implementing that new TOC. It is important to keep in mind that we want to build the new tutorial around the docker-compose approach detailed above.

[2019-09-08 14:54] valeriocos commented on #104
To speed up the next steps, it would be easier to work on the different sections by submitting PRs to the agamotto branch. Once the work is done, the agamotto branch should be merged to master.

I'm not sure about the goal you mention (which seems to fit only the quick start section). Other sections (e.g., architecture, dashbooard customization) are independent and can reuse part of the current tu

[2019-09-09 21:36] jsmanrique commented on #104
If it's planned to document that `analytics-demo` thing, wouldn't it make sense to make it part of `chaoss/GrimoireLab` somehow?

[2019-09-26 13:34] GeorgLink opened #105 "Add Hatstall to tutorial"
I was looking for documentation on Hatstall ... I didn't see anything in the tutorial and the search came back empty.

This issue proposes to add a section on Hatstall in the tutorial.

[2019-10-11 03:50] vchrombie commented on #45
@jgbarah, can I take up this ?

[2019-10-11 05:10] valeriocos commented on #45
yes @vchrombie , it would be great! thanks

[2019-10-11 17:40] vchrombie commented on #45
So, there are two places where I need to update this.
1. https://chaoss.github.io/grimoirelab-tutorial/basics/install.html
2. https://chaoss.github.io/grimoirelab-tutorial/basics/quick.html

@jgbarah, @valeriocos any more pages where I should be adding the information?

[2019-10-11 19:36] valeriocos commented on #45
I don't think so!

[2019-10-12 02:57] vchrombie commented on #45
Okay, :sweat_smile: .

I actually didn't get you. Did I mention the wrong pages or there are no extra places to add?

[2019-10-12 05:37] valeriocos commented on #45
ehehe, you mention the right pages and there are no extra places to add.
sorry for the misunderstanding

[2019-10-12 05:47] vchrombie commented on #45
Ok, then. :smile:
I will send a PR for the change. You can review it then.

[2019-10-14 11:08] valeriocos commented on #104
Some commits have been pushed to https://github.com/chaoss/grimoirelab-tutorial/tree/agamotto. They target the sections: Overview, Getting Started and Architecture.

After discussing with @jgbarah and @jsmanrique, it is probably needed to refine the TOC according to the type of target users. For instance, non-technical users could be interested in using just Cauldron, other users may be more confo

[2019-10-14 17:27] sanacl commented on #104
@valeriocos I've been having a look at it and I think it is a good starting point. One comment, from my point of view this grimoirelab-tutorial should contain what we have at [demo-analytics](https://gitlab.com/Bitergia/lab/analytics-demo), or maybe what we need is to import a new CHAOSS project named grimoirelab-demo, so we can have the files we need there and add references to it from the tutori

[2019-10-14 18:02] valeriocos commented on #104
I like the idea @sanacl ! +1

[2019-10-14 20:11] jsmanrique commented on #104
-1. What you call analytics demo, should be part of chaoss/grimoirelab

Check chaoss/grimoirelab#220

[2019-10-15 14:31] jsmanrique commented on #91
I think we are starting to have too many actions or issues around the same topic (like chaoss/grimoirelab#220).

@GeorgLink I wouldn't recommend to make everything go around *the docker-compose installation option*, because my perception is that it seems more simple because it's better explained and placed in a README, while the `docker run grimoirelab` option is lost in the middle of the tutorial

[2019-10-15 16:43] #45 closed

[2019-10-16 04:01] GeorgLink commented on #91
I have not fully developed my thoughts on whether to combine user and
developer instructions in one tutorial or split them into separate
tutorials. My first thought is to have different sections in a single
tutorial. A second thought is to have the tutorial focus on Devs and have
the GL website explain how to use the tool as a user.

I can agree with having the tutorial more open and using docker-

[2019-10-16 07:03] sanacl commented on #91
From my point of view the better way to attract people to our community is to offer one simple method of using the tool and provide the knowledge to go deeper as soon as the tool shown its capabilities. This method should be only one and it should be simpler than the ones we have in all the methods we've built so far. My recommendation here is to publish something based on a set of docker containe

[2019-10-16 08:10] jsmanrique commented on #91
I agree to avoid 2 separate tutorials but a general tutorial with links to components details (in their own repos README and docs folder) for those interested in deeper details, or start building their own stuff on top of them.

Regarding pip, docker, or docker-compose, if you really think docker-compose option is the right choice for a quick start, then, let's put it in the README.

IMHO, if Grim

[2019-10-16 08:42] sanacl commented on #104
This is why I wrote:

" or maybe what we need is to import a new CHAOSS project named grimoirelab-demo" ... because I think we should import that configuration files to any of the CHAOSS repos.

[2019-10-16 12:02] valeriocos commented on #91
I agree to avoid 2 tutorials. @sanacl It depends which kind of people you want to attract. Cauldron could be useful for attracting non-technical people, docker and docker-compose are good for people with some knowledge on docker technologies (probably @jgbarah can share his point of view about the advantage of the installation through docker), pip is perfect for pythonists.

We could have a sectio

[2019-10-16 16:51] GeorgLink commented on #91
I like the idea of having only docker-compose install method
(or @jsmanrique's terraform/ansible scripts) on the first page of the
tutorial. We can have a sub-page for the pip install as an alternative way
of installing the components and for someone who wants to understand the
different parts to grimoirelab.

I agree to put the "quick-install" for docker-compose in the
github.com/chaoss/grimoirel

[2019-10-16 17:03] GeorgLink commented on #104
I am undecided about creating a chaoss/grimoirelab-demo repo.

We have already a lot of repositories. It is a challenge to navigate that complexity and I'd rather not create a new repo.
If we can include the necessary docker-compose file in the chaoss/grimoirelab repo, then that would be my preference.
However, if the chaoss/grimoirelab repo is too big, then maybe having a separate repo makes more

[2019-10-16 17:15] valeriocos commented on #91
Ok from my side @GeorgLink .

You can reuse the content of https://github.com/chaoss/grimoirelab-tutorial/blob/agamotto/getting_started/installation.md (maybe including also the troubleshooting section). As setup.cfg and projects.json we could use the ones for CHAOSS.

WDYT?

[2019-10-16 18:27] jsmanrique commented on #105
Actually, that would include to update existing HatStall documentation:
https://github.com/chaoss/grimoirelab-hatstall/blob/master/README.md
https://github.com/chaoss/grimoirelab-hatstall/tree/master/docs

[2019-10-16 18:32] jsmanrique commented on #104
Sorry, I don't get where this discussion is going.

To make clear my statement: -1 to add a new project or repo to GrimoireLab.

I think chaoss/grimoirelab should include every developed and documented way to install and run GrimoireLab toolkit as a whole platform approved by the community or the project.

[2019-10-16 19:17] jsmanrique commented on #104
And about the tutorial discussion, I think we should write a new tutorial from scratch perhaps focus on GrimoireLab end users and let this one as it is or deprecate it in the future.

[2019-10-17 10:26] jsmanrique commented on #104
Meanwhile, I've submitted a PR to update grimoirelab main repo: chaoss/grimoirelab#221

[2019-10-23 13:51] GeorgLink commented on #91
Thank you @jsmanrique for #221.

[2019-10-23 15:18] GeorgLink opened #110 "Proposal to add a "user tutorial""
The current tutorial is great for developers who want to use the GrimoireLab components or engineers who want to install GrimoireLab.

What we are not describing well is how to use GrimoireLab as a user of the GUI. Sure, we can direct people to the Kibana documentation for most parts, but there are GrimoireLab specific modifications and open source metrics specific use cases that we should documen

[2019-10-23 16:23] valeriocos commented on #91
Moving the discussion to chaoss/grimoirelab#220

[2019-10-23 16:23] #91 closed

[2019-11-20 17:25] GeorgLink commented on #104
I have no more travel until next year and would like to dedicate a few hours each week towards improving our tutorial. @valeriocos could we schedule a quick call to get me up to speed?

[2019-11-21 08:30] valeriocos commented on #104
Sure! feel free to propose any time frame from 14h to 18h (Madrid time) for today, thanks

[2019-11-21 14:34] valeriocos commented on #104
or maybe we can sync tomorrow. As you prefer.

[2019-11-21 18:24] GeorgLink commented on #104
I didn't see your reply in time for today. I sent a calendar invite for tomorrow 2.30pm CET.

[2020-01-07 14:37] RCheesley opened #114 "Meetup API deprecated - tutorial needs updating to use OAuth"
In this file: gelk/meetup.md we make reference to the Meetup API and link to the appropriate page (https://secure.meetup.com/es-ES/meetup_api/key/) to get the API key.

Since August 2019, the Meetup API has been deprecated, now you need a Pro account, and need to use OAuth - see https://www.meetup.com/meetup_api/auth/ for developer docs.

The documentation in this tutorial (and possibly elsewhere)

[2020-01-10 09:24] LedaMC-izubiaurre opened #115 "Third-party dependences for Graal"
As stated in https://lists.linuxfoundation.org/pipermail/grimoirelab-discussions/2020-January/000282.html, the [intro](https://chaoss.github.io/grimoirelab-tutorial/graal/intro.html) requires Python3 and Graal to be installed, but it does not mention that **third-party backend-tools are also needed**.

Following the tutorial lacking them will cause errors.

- Just mentioning this in the intro woul

[2020-02-02 11:16] valeriocos commented on #114
Hi @RCheesley , in order to get an Aouth token please use this script: https://gist.github.com/valeriocos/e16424bc7dc0f2d6dd8bb9295c6f9a4b

We will update the documentation soon.

[2020-02-05 17:35] #114 closed

[2020-02-05 17:37] valeriocos commented on #114
Thanks @RCheesley for the PR!

[2020-03-12 18:06] sp35 opened #125 "Broken link in Micro-mordred tutorial"
https://chaoss.github.io/grimoirelab-tutorial/sirmordred/micro-mordred.html#what-is-mordred
[code]
The link at the word 'here' doesn't work.

[2020-03-12 18:18] valeriocos commented on #125
Good catch, thanks @sp35 ! Can you submit a PR?

[2020-03-12 18:26] sp35 commented on #125
@valeriocos I guess its link to```setup.cfg```

[2020-03-13 07:20] valeriocos commented on #125
Sorry for the late reply @sp35 . Yes, the reference should be https://github.com/chaoss/grimoirelab-sirmordred#setupcfg

[2020-03-13 15:16] #125 closed

[2020-04-10 17:01] vchrombie commented on #104
Hi
I have seen a couple of discussions to improve the document which in fact is very necessary and we are continuously working on it. :+1:
https://github.com/chaoss/grimoirelab/issues/135
https://github.com/chaoss/grimoirelab-sirmordred/issues/167

I just want to put up this program, [Google Season of Docs](https://developers.google.com/season-of-docs) which is just focused on technical writing. I

[2020-04-10 18:55] animeshk08 commented on #104
If this goes forward I would love to help :rocket:

[2020-04-11 07:56] valeriocos commented on #104
Thank you @vchrombie and @animeshk08 for joining the discussion.

The Google Season of Docs could really help to make this issue advance. I see that the deadline is `May 4, 2020 at 20:00 UTC `, so there is still some time. @GeorgLink, do you think CHAOSS could apply for the program? Thanks

[2020-04-11 11:15] GeorgLink commented on #104
Yes. We applied last year but weren't selected as one of the first 50 projects in the pilot of this new program. Can you initiate the conversation on the mailing list?

[2020-04-14 21:10] vchrombie commented on #104
I'd like to volunteer for this. :slightly_smiling_face:

[2020-04-15 05:54] valeriocos commented on #104
Hi @vchrombie , yes please send the email.

The last Grimoirelab weekly meeting was postponed, the next one will be on Apr 21st.

[2020-04-15 06:01] vchrombie commented on #104
Sure.

I checked the minutes of the CHAOSS weekly meeting too. No problem, maybe we can add this point on the agenda for the next meeting. :slightly_smiling_face:
Thanks.

[2021-01-11 12:34] Nolski opened #132 "Clairity on Mordred configuraiton"
# Overview

The current GrimoireLab documentation provides some example of how to configure Mordred for certain data backends and tells the reader to reference Perceval for further information. The issue is, it's unclear the json format each backend requires.

## Further Details

For instance, I'm unsure if the `discourse` backend requires an array of URLs, or a single URL or something different.

[2021-01-11 13:37] vchrombie commented on #132
Hi @Nolski, thanks for showing your interest in GrimoireLab.

Sorry for the confusion, but all the backends follow the same format. The URLs should be given as an array.

projects.json
[code]
You can also get the information in the [supported-datasources section](https://github.com/chaoss/grimoirelab-sirmordred/#supported-data-sources-) from the [sirmordred](https://github.com/chaoss/grimoirelab-s

[2021-01-11 13:46] zhquan commented on #132
Hi @Nolski,

Just completing @vchrombie's comment.

On the [readme](https://github.com/chaoss/grimoirelab-tutorial) If you go on the second paragraph and click on [data sources](https://gitlab.com/Bitergia/c/FAQ/tree/master/sources#supported-data-sources) then search for [confluence](https://gitlab.com/Bitergia/c/FAQ/tree/master/sources#confluence) the format is
[code]

You will see the data on th

[2021-01-11 14:34] Nolski commented on #132
Hi @zhquan and @vchrombie

Thanks for the quick response! It looks like it was both the formatting of my `projects.json` as well as missing a configuration for discourse in my setup.cfg. I submitted a PR to update the setup.cfg included in `default-grimoirelab-settings` which is referenced above in case y'all might find that useful.

I'll close this issue now as my question is answered :)

[2021-01-11 14:34] #132 closed

[2021-03-10 00:15] SteveKola opened #133 "Proposal to add a Next and Previous Buttons to the Docs"
Every time I'm done reading through a page, I had to scroll up to click on the next page from the sidebar and that's quite a hassle.

I'm thinking maybe it is possible to add the "Previous" and "Next" buttons to the bottom of each page and save the user some stress.

[2021-03-10 00:17] SteveKola opened #134 "Remove "Presentation" from the docs"
I noticed that the Presentation page and the Introduction page contain the same information.

Is there a reason for this duplication?
If there's none, can I have it removed?

[2021-03-10 17:17] vchrombie commented on #133
Hi @SteveKola, thanks for opening the issue.

The tutorial is built using Jekyll and we are currently using a template.

The idea is good, but I'm guessing it would be a little hard to implement this because of the sections and sub-sections. All the content is not in a single folder and everything is in markdown. So, in order to make this possible, we have to change the templates and I'm really no

[2021-03-10 17:35] vchrombie commented on #134
Hi @SteveKola, thanks for finding this out and opening the issue.

I can see the duplication and I think it is safe to remove that. Let me know if you are interested in opening a PR for it. You just need to change an entry here, https://github.com/chaoss/grimoirelab-tutorial/blob/master/_data/sidebars/home_sidebar.yml.

Please let us know if you need any help.
Thanks.

[2021-03-10 18:20] SteveKola commented on #133
Hello @vchrombie,

Thank you for your detailed response. You might have a point about it being difficult to implement since there are sections and sub-sections.

I'd be happy to give it a try though.

I found the workaround below on StackOverflow. Option 4 stated by the author seems implementable. Do you mind checking it out too and see if it is worth trying out?
Thanks.

[https://stackoverflow.co

[2021-03-10 18:24] SteveKola commented on #134
Hello @vchrombie,

I'd be happy to create a PR for it. This would be my first PR here so that's something 😄

Thank you.

[2021-03-10 19:05] SteveKola commented on #133
@vchrombie, thank you for the explanation.

I'm not quite familiar with Jekyll myself, but I think I understand your POV about having to add individual links to each of the md files.

I'd try and see if there's a better way to implement that automatically.

So should I close the issue or leave it open for now?

[2021-03-10 19:12] vchrombie commented on #133
We can close it for now and open it later if that's needed.
@SteveKola, WDYT?

[2021-03-10 19:50] SteveKola commented on #133
Yes, I agree with you.
I'll close it now.

[2021-03-10 19:50] #133 closed

[2021-03-16 07:14] isikozsoy opened #154 "Could not extract data from Gerrit"
I want to extract code reviews it does not matter where I extract since it will be used for test purposes.
I used those attributes hostname': 'gerrit.opnfv.org', 'user': 'user' as you examplified
however I got the following error user@gerrit.opnfv.org: Permission denied (publickey).
What should I do? Thanks for your time!

[2021-03-16 09:14] zhquan commented on #154
Hi @isikozsoy

You have to add your public key to gerrit.opnfv.org.

Steps:
1. Create an account if you don't have it
2. Go to `settings` -> `Profile`: make sure that you have a `username`
3. Go to `settings` -> `SSH Keys`: add your public key

The param `user` is your `username` and that is why you got the error `user@gerrit.opnfv.org: Permission denied (publickey)`

I hope it helps you

Best,
Qu

[2021-03-20 13:27] SourabhSaraswat-191939 opened #155 "Unable to access enriched information ."
this is the command which i used in Docker CLI .
$ p2o.py --enrich --index git_raw --index-enrich git \\
  -e http://localhost:9200 --no_inc --debug \\
  git https://github.com/grimoirelab/GrimoireELK.git

it works fine and showing "Total items enriched 2922" and other process summary . But when i am trying to visit it from "http://localhost:9200/git_raw?pretty=true" or "http://localhost:9200/git_

[2021-03-20 13:47] vchrombie commented on #155
Hi @SourabhSaraswat-191939, we need some logs to tell the exact issue what could be wrong with the elasticsearch.

In any case, the docker image is quite outdated. It would be great if you can use the [docker-compose](https://github.com/chaoss/grimoirelab/tree/master/docker-compose) method. Also, the p2o.py script is not maintained anymore, you can run [mordred](https://github.com/chaoss/grimoirel

[2021-03-20 15:20] SourabhSaraswat-191939 commented on #155
![Screenshot 1942-12-29 at 8 33 49 PM](https://user-images.githubusercontent.com/60272417/111874507-ae3c2900-89bb-11eb-985e-44017d78849a.png)
This is the logs after using that command again .

[2021-03-20 15:27] SourabhSaraswat-191939 commented on #155
I think this Docker image is Up To Date as i pulled this image some days before .

[2021-03-20 15:29] SourabhSaraswat-191939 commented on #155
Okay, i will go through docker-compose and others as you mentioned . 👍

[2021-03-21 17:16] isikozsoy commented on #154
Thanks Quan! I found my mistake. Thanks a lot for your time.
Best,
Işık

[2021-03-21 17:16] #154 closed

[2021-03-28 19:02] #155 closed

[2021-04-12 17:01] vchrombie commented on #134
Fixed by https://github.com/chaoss/grimoirelab-tutorial/pull/136

[2021-04-12 17:01] vchrombie commented on #134
@SteveKola can you close the issue?

[2021-04-12 17:04] #134 closed

[2021-10-05 17:54] vchrombie commented on #95
This issue was addressed in the new tutorial https://github.com/chaoss/grimoirelab-tutorial/pull/173
The information and example is added to the sirmordred repository too https://github.com/chaoss/grimoirelab-sirmordred/pull/519

Closing the issue as it is resolved now.

[2021-10-05 17:54] #95 closed

[2021-10-09 14:19] vchrombie opened #183 "Port the developer installation method to the new tutorial"
The main aim of this issue is to port the developer installation of GrimoireLab to the new tutorial.
https://github.com/chaoss/grimoirelab-sirmordred/blob/master/Getting-Started.md

Ideally the _dev-setup.md_ file should go to https://github.com/chaoss/grimoirelab-tutorial/tree/master/docs/getting-started and should have the [Getting-Started content](https://github.com/chaoss/grimoirelab-sirmordre

[2021-10-10 09:59] vchrombie commented on #83
This issue is handled in the new version of the tutorial
https://github.com/chaoss/grimoirelab-tutorial/pull/178

[2022-01-16 15:18] vchrombie commented on #36
This could be a part of the issue #186

[2022-02-09 10:38] vchrombie opened #195 "Update the `gh_edit_branch` configuration"
The `Edit this page on GitHub` link in the footer of every page redirects to the `tesseract` branch of the repository. The `_config.yml` must be updated to point it to the current `master` branch.

[2022-02-09 21:15] and3rcg commented on #195
Hello there! I am a beginner in development and open source contributing, so I think I did something wrong according to the [contributors' guide](https://github.com/chaoss/grimoirelab/blob/master/CONTRIBUTING.md), since I forked the repo and committed to its master branch. I suppose I can send the fix by creating a new branch in the repo I forked?

[2022-02-10 05:39] vchrombie commented on #195
Hi @and3rcg, you are almost there. I see the change in your fork https://github.com/and3rcg/grimoirelab-tutorial/commit/42c10da3752abce0d0805757410b372f995cfc37. You just need to [open the PR](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request).

Also, the commit message needs to be updated, but I thin

[2022-02-10 17:48] #195 closed

[2022-02-24 16:33] VSevagen opened #201 "Set a proper structure for the tutorial"
At the moment, the updated docs can be found within the `docs/` folder. I think we can add the other docs within this directory and update the information or remove the deprecated information. When building the docs, we can see that the tutorial structure is kind of messy so we can define a proper structure here and implement it once decided.

[2022-02-26 17:42] VSevagen commented on #201
We have below the tentative TOC for the current tutorial. Every update to the docs can be done according to this TOC or any TOC discussed.

Table of content

1. Getting started
    - Setup
      - Via docker-compose
      - Via docker
   - Add your data sources (projects.json, setup.cfg)
   - Run GrimoireLab
   - Troubleshooting
2. Data Sources
    - Supported Data sources
    - What is project.js

[2022-02-28 18:46] mgalexander opened #203 "Samples cause errors when copy/pasted"
Suggesting that I think there should be a better way to indicate information that will cause a configuration to break when taking samples.

```Error while consuming configuration: Wrong type for section param: githubql studies <class 'str'> should be <class 'list'>```

happens to me every time I copy/paste from the `setup.cfg` examples given on this https://chaoss.github.io/grimoirelab-tutorial/do

[2022-03-26 09:23] TieWay59 opened #204 "Update invalid urls in `/components/workflow.md`"
I found a list of invalid URLs. Two of them are related to `basics/scenarios` which is placed in the same directory of `workflow.md` now.
But I didn't find `/manuscripts/first` in the current branch.
If someone can make the right URLs clear to me, I can PR and fix it.

https://github.com/chaoss/grimoirelab-tutorial/blob/654bd0563dd45c9f76fb8486541a614e66fd28e8/docs/components/workflow.md#L41

http

[2022-03-27 12:54] vchrombie commented on #203
Hi @mgalexander, thanks for opening the issue. Sorry for replying late, I missed this issue.

The problem which you have pointed out is really good and it makes very much sense to me because a lot of times many people copy-paste the configurations and forget to delete the `suggested` `optional` words that would attract a lot of errors.

I'm checking if we can use comments in a cfg file so that we

[2022-03-27 12:55] vchrombie commented on #204
Hi @TieWay59, thanks for opening the issue.

We usually point towards the individual tool's documentation in the Workflow page but not every tool has its own readthedocs page yet. I would suggest redirecting them to the README of the tool to avoid much confusion.

https://github.com/chaoss/grimoirelab-kingarthur

https://github.com/chaoss/grimoirelab-manuscripts

https://github.com/chaoss/grimoire

[2022-03-29 05:05] #204 closed

[2022-04-28 08:24] Sukriti-sood commented on #183
Hi @vchrombie I want to work on this issue, but I am not clear on the purpose. Can you please clarify?

[2022-04-28 08:36] vchrombie commented on #183
Hi @Sukriti-sood, thanks for showing interest in CHAOSS and GrimoireLab.

Initially we started off with adding the instructions to setup the developer environment for grimoirelab in the sirmordred repository. We didn't have a proper layout for tutorial back then and we felt sirmordred repo is the right place.
https://github.com/chaoss/grimoirelab-sirmordred/blob/master/Getting-Started.md

But, now

[2022-04-30 13:48] #183 closed

[2022-10-12 17:02] GeorgLink opened #214 "Remove "$" from terminal commands so they can be copied more easily"
**Problem:** When I copy a terminal command from our tutorial, it also copies the "$" sign which is not part of the command as it needs to be entered in the terminal.

**Proposed Solution:** remove the "$" sign from all commands in the tutorial.

The page I experienced this problem on is the installation guide at: https://chaoss.github.io/grimoirelab-tutorial/docs/getting-started/setup/

[2022-10-15 15:30] retry19 commented on #214
can you add hacktoberfest's label on this issue?

[2022-10-17 14:41] GeorgLink commented on #214
Thanks for the idea @retry19 ! Label was added.

[2022-10-17 15:08] retry19 commented on #214
Thanks, can I work on this?

[2022-10-17 16:29] GeorgLink commented on #214
Yes, go for it :-)

[2022-10-19 19:46] vchrombie commented on #214
Yes please feel free to pick it @retry19. Let us know if you need help.

[2022-10-19 19:59] retry19 commented on #214
Is there any option to serve the project without ruby? because I check it and it's using ruby right?

[2022-10-19 20:14] vchrombie commented on #214
umm, actually no. I am sorry but the project was built using a theme that uses ruby.

[2022-10-19 23:40] #214 closed

[2022-11-01 04:12] vchrombie commented on #203
With merging the PR #215, this issue should be fixed. It would be great if you can give it a try @mgalexander.

Thanks for the opening the issue.

[2022-11-01 04:12] #203 closed